<ion-header>
    <ion-toolbar>
        <ion-title>Log In</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <ion-item lines="none">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email" required></ion-input>
        </ion-item>
        <span class="ion-padding" *ngIf="isSubmitted && loginForm.hasError('required', 'email')">
			<ion-text color="danger">
				Email is required.
			</ion-text>
		</span>
        <span class="ion-padding" *ngIf="isSubmitted && loginForm.hasError('pattern', 'email')">
			<ion-text color="danger">
				<!-- {{'form.err_format_error' | translate }} -->
				Not an e-mail
			</ion-text>
		</span>

        <ion-item lines="none">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && loginForm.hasError('required', 'password')">
			<ion-text color="danger">
				Password is required.
			</ion-text>
		</span>

        <ion-row>
            <ion-col>
                <ion-button type="submit" expand="block">Login</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-label>Forgot Password? </ion-label>
                <ion-button [routerLink]="['/forgot-password']" expand="block">
                    Reset Password
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-label>No account yet? </ion-label>
                <ion-button [routerLink]="['/register']" expand="block">
                    Register
                </ion-button>
            </ion-col>
        </ion-row>

    </form>
</ion-content>