<app-auth-header [title]="'auth.login'"></app-auth-header>

<ion-content>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="ion-padding">
        <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label position="floating">
                {{ 'form.label_email' | translate }}
            </ion-label>
            <ion-input type="text" formControlName="email" required></ion-input>
            <ion-note slot="error" *ngIf="isSubmitted && loginForm.hasError('required', 'email')">
                {{ 'form.err_email_required' | translate }}
            </ion-note>
            <ion-note slot="error" *ngIf="isSubmitted && loginForm.hasError('pattern', 'email')">
                {{'form.err_email_pattern' | translate }}
            </ion-note>
        </ion-item>

        <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label position="floating">
                {{ 'form.label_password' | translate }}
            </ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>
        <ion-note slot="error" *ngIf="isSubmitted && loginForm.hasError('required', 'password')">
            {{ 'form.err_password_required' | translate }}
        </ion-note>

        <ion-row>
            <ion-col>
                <ion-button type="submit" expand="block">
                    {{ "auth.login" | translate }}
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button (click)="authService.GoogleAuth()" color="danger" expand="block">
                    {{ 'auth.login_google' | translate }}
                </ion-button>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col>
                <ion-label>{{ 'auth.forgot_password' | translate }} </ion-label>
                <ion-button [routerLink]="['/forgot-password']" expand="block">
                    {{ 'auth.reset_password' | translate }}
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-label>{{ 'auth.no_account_yet' | translate }} </ion-label>
                <ion-button [routerLink]="['/register']" expand="block">
                    {{ "auth.register" | translate }}
                </ion-button>
            </ion-col>
        </ion-row>

    </form>
</ion-content>