<app-header [title]="'home.EVENTS'"></app-header>
<ion-content [fullscreen]="true">

    <ion-accordion-group expand="inset">
        <ion-accordion value="filter" toggle-icon="filter">
            <ion-item slot="header">
                <ion-label>{{ 'shared.filter' | translate}}</ion-label>
            </ion-item>
            <ion-list slot="content">
                <ion-searchbar type="text" inputmode="text" showCancelButton="focus" [(ngModel)]="eventName" placeholder="" animated="true">
                    <ion-label class="filter-label ion-margin">{{ 'event.filter_event_name' | translate }}</ion-label>
                </ion-searchbar>
                <ion-searchbar type="text" inputmode="text" showCancelButton="focus" [(ngModel)]="eventYear" placeholder="" animated="true">
                    <ion-label class="filter-label ion-margin">{{ 'event.filter_year' | translate }}</ion-label>
                </ion-searchbar>
                <ion-searchbar type="text" inputmode="text" showCancelButton="focus" [(ngModel)]="eventPlace" placeholder="" animated="true">
                    <ion-label class="filter-label ion-margin">{{ 'event.filter_place' | translate }}</ion-label>
                </ion-searchbar>
                <ion-item>
                    <ion-label class="ion-margin">{{ 'event.filter_type' | translate }}</ion-label>
                    <ion-select interface="popover">
                        <ion-select-option value="all">{{ 'gender.all' | translate }}</ion-select-option>
                        <ion-select-option value="male">{{ 'gender.male' | translate }}</ion-select-option>
                        <ion-select-option value="female">{{ 'gender.female' | translate }}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ 'event.all' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="events && events.length > 0; else noEvent">
            <ion-item lines="none" *ngFor="let event of events" [routerLink]="['/event', event.id]">
                <ion-label>{{ event.name + ' ' + (event.alternateName ? '(' + event.alternateName + ')' : '') + ' - ' + event.location.city + ' - ' + (event.startDate | date: 'yyyy.MM.dd') + ' - ' + (event.endDate | date: 'MM.dd' ) }} </ion-label>
                <ion-button [routerLink]="['/event', event.id]" expand="block" fill="clear">
                    {{ 'shared.open' | translate}}
                </ion-button>
            </ion-item>
        </ion-card-content>

        <ng-template #noEvent>
            <ion-card-header>
                <ion-card-subtitle>{{ 'event.no_event' | translate }}</ion-card-subtitle>
            </ion-card-header>
        </ng-template>
    </ion-card>

</ion-content>