<app-header [title]="'home.EVENTS'"></app-header>
<ion-content [fullscreen]="true">

    <ion-accordion-group>
        <ion-accordion value="filter" toggle-icon="filter">
            <ion-item slot="header">
                <ion-label>{{ 'shared.filter' | translate}}</ion-label>
            </ion-item>

            <ion-list slot="content">
                <ion-item>
                    <ion-label>{{ 'event.filter_event_name' | translate }}</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>{{ 'event.filter_year' | translate }}</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>{{ 'event.filter_place' | translate }}</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ 'event.all' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="events && events.length > 0; else noEvent">
            <ion-item lines="none" *ngFor="let event of events" [routerLink]="['/event', event.id]">
                <ion-label>{{ event.name + ' ' + (event.alternateName ? event.alternateName : '') + ' - ' + event.location + ' - ' + (event.startDate | date) + ' - ' + (event.endDate | date ) }} </ion-label>
                <ion-button [routerLink]="['/event', event.id]" expand="block" fill="clear">
                    {{ 'shared.open' | translate}}
                </ion-button>
            </ion-item>
        </ion-card-content>

        <ng-template #noEvent>
            <ion-card-header>
                <ion-card-subtitle>{{ 'event.no_event' | translate }}</ion-card-subtitle>
            </ion-card-header>
        </ng-template>
    </ion-card>

</ion-content>