<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'auth.register' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="ion-margin">
        <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label position="floating">{{ 'form.label_givenName' | translate }}</ion-label>
            <ion-input type="text" formControlName="firstName" required></ion-input>
            <ion-note slot="error" *ngIf="isSubmitted && registerForm.hasError('required', 'firstName')">
                {{ 'form.err_givenName_required' | translate }}
            </ion-note>
        </ion-item>

        <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label position="floating">{{ 'form.label_familyName' | translate }}</ion-label>
            <ion-input type="text" formControlName="lastName" required></ion-input>
            <ion-note slot="error" *ngIf="isSubmitted && registerForm.hasError('required', 'lastName')">
                {{ 'form.err_familyName_required' | translate }}
            </ion-note>
        </ion-item>

        <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label position="floating">{{ 'form.label_role' | translate }}</ion-label>
            <ion-select formControlName="role" interface="popover">
                <ion-select-option value="user">{{ 'role.user' | translate }}</ion-select-option>
                <ion-select-option value="referee">{{ 'role.referee' | translate }}</ion-select-option>
            </ion-select>
            <ion-note slot="error" *ngIf="isSubmitted && registerForm.hasError('required', 'role')">
                {{ 'form.err_role_required' | translate }}
            </ion-note>
        </ion-item>

        <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label position="floating">{{ 'form.label_team' | translate }}</ion-label>
            <ion-select formControlName="team" interface="popover">
                <ion-select-option value="0">{{ 'form.label_no_team' | translate }}</ion-select-option>
                <!-- TODO: -->
                <ion-select-option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</ion-select-option>
            </ion-select>
            <ion-note slot="error" *ngIf="isSubmitted && registerForm.hasError('required', 'team')">
                {{ 'form.err_team_required' | translate }}
            </ion-note>
        </ion-item>

        <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label position="floating">{{ 'form.label_email' | translate }}</ion-label>
            <ion-input type="email" formControlName="email" required></ion-input>
            <ion-note slot="error" *ngIf="isSubmitted && registerForm.hasError('required', 'email')">
                {{ 'form.err_email_required' | translate }}
            </ion-note>
            <ion-note slot="error" *ngIf="isSubmitted && registerForm.hasError('pattern', 'email')">
                {{'form.err_email_pattern' | translate }}
            </ion-note>
        </ion-item>

        <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label position="floating">{{ 'form.label_password' | translate }}</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
            <ion-note slot="error" *ngIf="isSubmitted && registerForm.hasError('required', 'password')">
                {{ 'form.err_password_required' | translate }}
            </ion-note>
            <ion-note slot="error" *ngIf="registerForm.hasError('pattern', 'password') && !(registerForm.get('password').pristine)">
                {{ 'form.err_password_pattern' | translate }}
            </ion-note>
        </ion-item>

        <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label position="floating">{{ 'form.label_repeat_password' | translate }}</ion-label>
            <ion-input type="password" formControlName="repeatPassword" required></ion-input>
            <ion-note slot="error" *ngIf="registerForm.hasError('noMatch', 'repeatPassword') && !(registerForm.get('password').pristine)">
                {{ 'form.err_password_match' | translate }}
            </ion-note>
        </ion-item>
        <ion-button (click)="asd()" expand="block" shape="round">
            Click me
        </ion-button>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="danger" expand="block">
                    {{ 'auth.register' | translate }}
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button (click)="authService.GoogleAuth()" color="danger" expand="block">
                    {{ 'auth.login_google' | translate }}
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-label> {{ 'auth.already_have_account' | translate }} </ion-label>
                <ion-button [routerLink]="['/login']" expand="block">
                    {{ 'auth.login' | translate }}
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>