<app-header [title]="'admin.athlete'"></app-header>
<ion-content [fullscreen]="true">

    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ 'admin.athlete' | translate }}</ion-card-title>
        </ion-card-header>

        <ion-card-content *ngIf="athletes.length > 0; else noAthlete">
            <ion-item lines="none" *ngFor="let athlete of athletes" [routerLink]="['/admin/athlete']" [queryParams]="{ id: athlete.id }">
                <ion-label>{{ athlete.name.familyName + ' ' + athlete.name.givenName + ' (' + (athlete.birthDate | date: 'y') + ')' }} </ion-label>
                <ion-label>{{ athlete.memberOf.name + ' ' + (athlete.memberOf.alternateName? '(' + athlete.memberOf.alternateName + ')' : '' ) }} </ion-label>
            </ion-item>
            <ion-item-divider> </ion-item-divider>
            <ion-button (click)="registerAthlete()" expand="block" class="ion-margin-top">
                {{ 'admin.register_athlete' | translate }}
            </ion-button>
        </ion-card-content>

        <ng-template #noAthlete>
            <ion-card-header>
                <ion-card-subtitle>{{ 'admin.no_athlete' | translate }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-button (click)="registerAthlete()" expand="block">
                    {{ 'admin.register_athlete' | translate }}
                </ion-button>
            </ion-card-content>
        </ng-template>
    </ion-card>

    <!-- FIXME: -->
    <ion-button (click)="asd()" expand="block" fill="clear" shape="round">
        Click me
    </ion-button>
    <!-- -- -->

</ion-content>