<app-header [title]="'home.COMPETITORS'"></app-header>
<ion-content [fullscreen]="true">

    <ion-accordion-group>
        <ion-accordion value="filter" toggle-icon="filter">
            <ion-item slot="header">
                <ion-label>{{ 'shared.filter' | translate}}</ion-label>
            </ion-item>

            <ion-list slot="content">
                <ion-item>
                    <ion-label>{{ 'athlete.filter_name' | translate }}</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>{{ 'athlete.filter_age' | translate }}</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>{{ 'athlete.filter_team' | translate }}</ion-label>
                    <ion-input></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>{{ 'athlete.filter_gender' | translate }}</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ 'athlete.all' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="athletes && athletes.length > 0; else noAthlete">
            <ion-item lines="none" *ngFor="let athlete of athletes" [routerLink]="['/athlete', athlete.id]" [state]="{ data: {athlete}}">
                <ion-label>{{ athlete.name.familyName + ' ' + athlete.name.givenName + ' (' + (athlete.birthDate | date: 'y') + ')' }} </ion-label>
                <ion-label>{{ athlete.memberOf.name + ' ' + (athlete.memberOf.alternateName? '(' + athlete.memberOf.alternateName + ')' : '' ) }} </ion-label>
            </ion-item>
        </ion-card-content>

        <ng-template #noAthlete>
            <ion-card-content>
                <ion-item lines="none">
                    <ion-label>{{ 'athlete.no_athlete' | translate }} </ion-label>
                </ion-item>
            </ion-card-content>
        </ng-template>
    </ion-card>


</ion-content>