<app-auth-header [title]="'auth.reset_password'"></app-auth-header>

<ion-content>
    <form [formGroup]="emailForm" (ngSubmit)="resetPassword()" class="ion-margin">
        <ion-item lines="none">
            <ion-label>
                {{ 'auth.reset_instructions' | translate }}
            </ion-label>
        </ion-item>
        <ion-item fill="outline">
            <ion-label position="floating">{{ 'form.label_email' | translate }}</ion-label>
            <ion-input type="email" formControlName="email" required></ion-input>
            <ion-note slot="error" *ngIf="isSubmitted && emailForm.hasError('required', 'email')">
                {{ 'form.err_email_required' | translate }}
            </ion-note>
            <ion-note slot="error" *ngIf="isSubmitted && emailForm.hasError('pattern', 'email')">
                {{ 'form.err_email_pattern' | translate }}
            </ion-note>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="danger" expand="block">{{ 'auth.send' | translate }}</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button [routerLink]="['/login']" expand="block">
                    {{ 'auth.back' | translate }}
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>