<app-header [title]="'home.TEAMS'"></app-header>
<ion-content [fullscreen]="true">

    <ion-accordion-group expand="inset">
        <ion-accordion value="filter" toggle-icon="filter">
            <ion-item slot="header">
                <ion-label>{{ 'shared.filter' | translate}}</ion-label>
            </ion-item>

            <ion-list slot="content">
                <ion-searchbar type="text" inputmode="text" showCancelButton="focus" placeholder="" animated="true" [(ngModel)]="teamNameF" (ionChange)="filterIncludes('name', teamNameF)" (ionClear)="removeFilter('name')">
                    <ion-label class="filter-label ion-margin">{{ 'teams.filter_name' | translate }}</ion-label>
                </ion-searchbar>
                <!-- TODO: -->
                <ion-searchbar type="text" inputmode="text" showCancelButton="focus" placeholder="" animated="true" [(ngModel)]="teamPlaceF">
                    <ion-label class="filter-label ion-margin">{{ 'teams.filter_place' | translate }}</ion-label>
                </ion-searchbar>
            </ion-list>
        </ion-accordion>
    </ion-accordion-group>

    <ion-card>
        <ion-card-header>
            <ion-item lines="none">
                <ion-card-title> {{ 'teams.all' | translate }} </ion-card-title>
                <ion-badge slot="end" color="tertiary" mode="ios"> {{ filteredTeams?.length }} </ion-badge>
            </ion-item>
        </ion-card-header>
        <ion-card-content *ngIf="teams && teams.length > 0; else noTeams">
            <ion-item lines="none" *ngFor="let team of filteredTeams" [routerLink]="['/athletes']" [state]="{ teamId: team.id, teamName: team.name }">
                <ion-label>{{ team.name }} </ion-label>
                <ion-label>{{ (team.alternateName ? team.alternateName : '') }} </ion-label>
                <ion-button [routerLink]="['/athletes']" expand="block" fill="clear" [state]="{ teamId: team.id, teamName: team.name }">
                    {{ 'athlete.all' | translate}}
                </ion-button>
            </ion-item>
        </ion-card-content>

        <ng-template #noTeams>
            <ion-card-header>
                <ion-card-subtitle>{{ 'teams.no_teams' | translate }}</ion-card-subtitle>
            </ion-card-header>
        </ng-template>
    </ion-card>

</ion-content>