<app-header [title]="'home.HOMEPAGE'"></app-header>
<ion-content [fullscreen]="true">

    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ 'home.current' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item lines="none">
                <ion-label>Awesome Label</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ 'home.next' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item lines="none">
                <ion-label>Awesome Label</ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>