<app-header [title]="'admin.team'"></app-header>
<ion-content [fullscreen]="true">

    <ion-card>
        <ion-card-header>
            <ion-card-title>{{ 'admin.team' | translate }}</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="!myteam; else noTeam">
            <!-- TODO: display team info -->
            <ion-item>
                <ion-label> {{ team?.name }} </ion-label>
            </ion-item>
            <ion-button expand="block" shape="round" [routerLink]="['/admin/team']" [queryParams]="{ id: team?.id }">
                {{ 'admin.edit_team' | translate }}
            </ion-button>
        </ion-card-content>

        <ng-template #noTeam>
            <ion-card-header>
                <ion-card-subtitle>{{ 'admin.no_team' | translate }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-button (click)="registerTeam()" expand="block" shape="round">
                    {{ 'admin.register_team' | translate }}
                </ion-button>
            </ion-card-content>
        </ng-template>
    </ion-card>

</ion-content>